@model IEnumerable<CarVendor.mvc.CarViewModel>

@{
    ViewBag.Title = "Home Page";

}
<meta charset="utf-8">


<meta name="format-detection" content="telephone=no" />
<script src="~/Content/js/Module.js"></script>
<script src="~/Content/js/CartCTR.js"></script>
<script>
    $(document).ready(function () {
        if ($('html').hasClass('desktop')) {
            new WOW().init();
        }
    });
</script>
<!--<![endif]-->
<script>
    $(document).ready(function () {
        $('#camera_wrap').camera({
            loader: true,
            pagination: true,
            minHeight: '',
            thumbnails: false,
            height: '52.8735632183908%',
            caption: true,
            navigation: false,
            fx: 'simpleFade',
            onLoaded: function () {
                $('.slider-wrapper')[0].style.height = 'auto';
            }
        });
        $("#tabs").tabs();
        $('#bookingForm').bookingForm({
            ownerEmail: '#'
        });
        $('#bookingForm2').bookingForm({
            ownerEmail: '#'
        });
    });
</script>
<style>

    .aCarName:link {
        color: #008D2E !important;
        text-decoration: none;
    }

    .aCarName:visited {
        color: #008D2E !important;
        text-decoration: none;
    }

    .aCarName:active {
        color: #008D2E !important;
        text-decoration: none;
    }

    .aCarName:hover {
        color: #333333 !important;
        text-decoration: none;
    }
    

    .lineThrough {
        position:relative;
    }

    .lineThrough::after {
        position:absolute;
        border-bottom:2px solid blue;
        content:"";
        left:0;
        top:50%;
        width:100%;
    }

    .mainContainer {
        position: relative;
    }

    .num1 {
        position: absolute;
        z-index: 2;
    }

    .num2 {
        position: absolute;
        height: 200px;
        width: 270px;
        z-index: 1;
    }
</style>


<!--             CONTENT
=========================================================-->
<section id="content">
    <div class="width-wrapper width-wrapper__inset1">
        <div class="wrapper1">
            <div class="container" ng-app="myApp" ng-controller="HomeCTR">
                <div class="row_Nav">

                    <button id="cartClickId" ng-hide="true" ng-click="goToCart()"></button>
                    <div class="grid_3">
                        <div id="tabs">
                            <div class="row">
                                <div class="grid_3">
                                    <ul class="tabs-list">
                                        <li>
                                            <a href="#tabs-2">
                                                <div class="tab maxheight">
                                                    Search
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="tabs-2">
                                <form id="" class="bookingForm1 wow fadeIn">
                                    <div class="form-row" style="margin-top:10px">
                                        <div class="form-group col-md-12 mb-4">

                                            <span class="heading">Brand:</span>
                                            <select name="Make" class="tmSelect auto" data-class="tmSelect tmSelect2" ng-model="Brandselected">
                                                <option value="0">All Brands</option>
                                                <option ng-repeat="Brand  in Brands" value="{{Brand.Id}}">{{Brand.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row" style="margin-top:10px">
                                        <div class="form-group col-md-12 mb-4">

                                            <span class="heading">Family:</span>
                                            <select name="Make" class="tmSelect auto" data-class="tmSelect tmSelect2" ng-model="Familyselected">
                                                <option value="0">All Families</option>
                                                <option ng-repeat="Family  in Families" value="{{Family.Id}}">{{Family.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row" style="margin-top:10px">
                                        <div class="form-group col-md-12 mb-4">
                                            <span class="heading">Category:</span>
                                            <select name="Make" class="tmSelect auto" data-class="tmSelect tmSelect2" ng-model="Categoryselected">

                                                <option value="0">All Categoies</option>
                                                <option ng-repeat="Category in Categories" value="{{Category.Id}}">{{Category.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row" style="margin-top:10px">
                                        <div class="form-group col-md-12 mb-4">
                                            <span class="heading">Color:</span>
                                            <select name="Make" class="tmSelect auto" data-class="tmSelect tmSelect2" ng-model="Colorselected">
                                                <option value="0">All Colors</option>
                                                <option ng-repeat="Color in Colors" value="{{Color.Id}}">{{Color.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row" style="margin-top:20px">
                                        <button class="btn-big" ng-click="FindCar()" data-type="submit">Find a car</button>

                                    </div>

                                </form>
                            </div>

                        </div>
                        <div class="banner1" style="background-color:#EFEFEF; border-radius:0px;">
                            <h2 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="color:#333;">
                                About our Services
                            </h2>
                            <p class="wow fadeIn" style="color:black" data-wow-duration="1s" data-wow-delay="0.2s">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                        </div>
                    </div>
                    <div class="grid_9">
                        <div class="slider-wrapper">
                            <div id="camera_wrap">
                                @for (int i = 0; i < @ViewBag.Slides.Count; i++)
                                {
                                    <div data-src="/images/@ViewBag.Slides[i].ImagePath">
                                        <div class="caption fadeIn">
                                            <div class="heading">
                                                <span class="first">@ViewBag.Slides[i].Model</span>
                                                <span class="second"> Start From <span class="price">@Decimal.ToInt32(ViewBag.Slides[i].Price)</span> {{currency}}</span>
                                            </div>
                                            <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
                                                <span class="first">
                                                    Mileage: <strong>@ViewBag.Slides[i].Mileage</strong> km
                                                </span>
                                                <span class="second">
                                                    Volume capacity: <strong>@ViewBag.Slides[i].VolumeCapacity</strong>l
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="wrapper2">
                            <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                                <h2>Latest  Cars</h2>
                            </div>
                            <div class="border-wrapper1 wrapper3">
                                <div class="row">


                                    <div class="form-group col-md-4 mb-3 col-sm-6" ng-repeat="car  in Cars">

                                        <div class="box1 carView">
                                            <a href="/cars/details?id={{car.Id}}&Category={{CarCategoryselected}}" class="aCarName">
                                                <h4 class="wow fadeIn" style="color:forestgreen;font-weight:800" data-wow-duration="1s" data-wow-delay="0.1s">
                                                    {{car.Name}}
                                                </h4>

                                                <div class="row">
                                                    <div class='mainContainer' ng-if="car.FirstImageView!=undefined">
                                                        <div class='num1' ng-if="carDiscount[$index]!=0"><span class="badge" Id="Discount_{{car.Id}}" ng-init="carDiscount[$index]=(car.Categories[0].Colors[0].Discount)" style="background-color:wheat;color:red;margin:10px;">- <span ng-bind="(carDiscount[$index])"></span>{{car.SelectedCurrency.Name}}</span></div>
                                                        <div class='num2'><img id="car.Id" class="wow fadeIn" width="270" height="200" data-wow-duration="1s" data-wow-delay="0.2s" src="/images/{{car.FirstImageView}}" alt="" /></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="row info wow fadeIn" style="margin-top:205px;" data-wow-duration="1s" data-wow-delay=".2s">
                                                <span class="first col-md-6" style="padding-right: 22px; color:black;font-weight:700">Brand: <span class="highlighted">{{car.Brand}}</span></span>

                                            </div>
                                            <div>
                                                <span class="second" ng-if="carDiscount[$index]!=0" style="padding-right: 7px;color:black;font-weight:700">Price: <span Id="Price_{{car.Id}}" style="color:red" ng-init="CarPrice[$index]=(car.Categories[0].Colors[0].Price)" class="highlighted lineThrough"> {{CarPrice[$index]}}</span><span Id="NewPrice_{{car.Id}}" style="color:red" ng-init="carNewPrice[$index]=(car.Categories[0].Colors[0].NewPrice)" class="highlighted"> {{carNewPrice[$index]}}</span> {{car.SelectedCurrency.Name}} </span>
                                                <span class="second" ng-if="carDiscount[$index]==0" style="padding-right: 7px;color:black;font-weight:700">Price: <span Id="Price_{{car.Id}}" style="color:red" ng-init="CarPrice[$index]=(car.Categories[0].Colors[0].Price)" class="highlighted"> {{CarPrice[$index]}}</span> {{car.SelectedCurrency.Name}}</span>
                                            </div>
                                            <div class="info wow fadeIn row" data-wow-duration="1s" data-wow-delay=".2s">
                                                <div class="container" style="padding-right: 11px;">
                                                    <div class="form-row" style="margin-top:10px">
                                                        <div class="form-group col-md-6">
                                                            <span class="heading" style="color:black;font-weight:700">Category:</span>
                                                            <select name="Make" Id="category_{{car.Id}}" class="tmSelect auto" data-class="tmSelect tmSelect2" ng-change="CategoryChange(car,CarCategoryselected,$index)" ng-init="CarCategoryselected=car.Categories[0].CategoryCode" ng-model="CarCategoryselected">
                                                                <option ng-repeat="Category in car.Categories" value="{{Category.CategoryCode}}">{{Category.Name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-5">
                                                            <span class="heading" style="padding-right:20px;color:black;font-weight:700">Color:</span>
                                                            <select name="Make" Id="color_{{car.Id}}" class="tmSelect auto" ng-repeat="Category in car.Categories |filter: {CategoryCode:CarCategoryselected }" ng-change="ColorChange(car,Category,CarColorselected,$parent.$index)" data-class="tmSelect tmSelect2" ng-init="CarColorselected=Category.Colors[0].Id.toString()" ng-model="CarColorselected">
                                                                <option ng-repeat="Color in Category.Colors" value="{{Color.Id}}">{{Color.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            @{if (User.IsInRole("Admin"))
                                                {
                                                    <div>

                                                        <button type="button" class="btn btn-secondary"><a class="nav-link" style="color:white" href="/cars/edit?CarCode={{car.Id}}">Edit</a></button>
                                                        <button type="button" class="btn btn-danger"><a class="nav-link" style="color:white" href="/cars/delete/{{car.Id}}">Delete</a></button>
                                                    </div>
                                                }

                                            }
                                            <div class="wow fadeIn row" data-wow-duration="1s" data-wow-delay=".3s" style="margin-left:28%; margin-top:2px;">
                                                <button type="button" data-toggle="modal" data-target="#TypePayModal" class="btn btn-default" ng-click="addToCart(car,CarCategoryselected,CarColorselected,$index)"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="button-wrapper1">
                                <a class="btn-big-green wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" href="/">
                                    <span>See all cars</span>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
         
                <!-- Modal -->
                <div class="modal fade" id="TypePayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Type Payment</h5>
                               
                            </div>
                            <div class="modal-body">
                                <div class="radio">
                                    <label><input type="radio" name="optradio"  ng-model="TypePayment" value="1" checked>Full Payment</label>
                              
                                    <label><input type="radio" ng-model="TypePayment" name="optradio" value="2">Down Payment</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="TypePayModalCls" type="button" class="btn btn-secondary" hidden data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="SelectPaymentType()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

