@model CarVendor.data.Entities.Conversion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exchange</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("From Currency")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromCurrency.Name)
        </dd>

        <dt>
            @Html.DisplayName("To Currency")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToCurrency.Name)
        </dd>

        <dt>
            @Html.DisplayName("Creation Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
