@model CarVendor.data.Entities.Car

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <hr />
    <dl class="dl-horizontal col-4">
        <dt>
            @Html.DisplayName("Brand")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

    </dl>
    <div class="col-8">
        <img src="/images/@Model.Carcategories.FirstOrDefault().CarColors.FirstOrDefault().CarImages.FirstOrDefault().ImageURL" alt="@Model.Model" />
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h3>Are you sure you want to delete this?</h3>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to Home", "/")
        </div>
    }
</div>
